body {
  margin: 0;
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a66c2;
  color: white;
  padding: 15px;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

#menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: #f4f4f4;
}

.btn {
  background: #0a66c2;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

/* SEÇÕES */
section {
  padding: 40px 20px;
  text-align: center;
}

/* PROJETOS */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  background: #ddd;
  padding: 20px;
  width: 250px;
}

/* FORMULÁRIO */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: auto;
}

input, textarea, button {
  padding: 10px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  nav {
    display: none;
    flex-direction: column;
    background: #0a66c2;
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
  }

  nav.active {
    display: flex;
  }

  #menu-btn {
    display: block;
  }
}
